<% title(@question.title, "Question") %>
<div>
  <h2><%= @question.title %></h2>
 
  <% if @question.answer.nil? || @question.answer.empty?  %>
    <p>No answer provided yet...</p>
  <% else %>
    <p><%= simple_format(@question.answer) %></p>
  <% end -%>
  
</div>

 
<%= link_to "All Questions", root_path %> | 
<%= link_to "Edit Question", edit_question_path(@question) %> |
<%= link_to "Delete Question", question_path, method: :delete,
        confirm:"Are you sure you want to remove the entire question?" %>
</br>
<span id="contributor">Authors:</span>

